
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Connected Insights Sandbox & Prototype
      </h1>

      <p>
        This prototype contains a static visual representation of the CI tool together with each measure linked to a fully functional sheets element.  </p>

      <h2 class="govuk-heading-m">How to use this Prototype</h2>

      <p>Navigating through this prototype will give an indication of the layout and feel of the final document.  Each element has a number i.e. "1a".  For feed back simply contact us directly or via the feedback form, using the reference number to refer to each element you wish to comment on.</p>

      
<a href="https://gds-ci.herokuapp.com/start/">Start the tool</a>

    
    </div>
  </div>

{% endblock %}
